/* import */
@import url("./font.css");
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Variable */
:root {
  --color-btn: #4a6dff;
  --color-white: #fff;
  --color-body: #f3f4f6;
  --color-title: #3f4264;
  --color-border: #60a5fa;
}
/* Html and Body */
html {
  font-size: 62.5%;
}

body {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-body);
}

body,
input,
button {
  font-family: iranyekan;
}
/* Login Form */
.login {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 1rem 2rem;
  gap: 0.5rem 0;
  border: none;
  border-radius: 8px;
  box-sizing: 0 0 3px;
  width: 30rem;
}

.login__title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 950;
  margin-bottom: 2rem;
  color: var(--color-title);
}

label[for="email"],
label[for="password"] {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

#login__email,
#login__password {
  padding: 1.2rem 1.6rem;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: var(--color-body);
  transition: all 0.2s ease-in;
  width: 100%;
}

/* #login__email:hover, 
#login__password:hover {
    border: 1px solid var(--color-border);
} */

#login__email:focus,
#login__password:focus {
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px #2a2d53;
}

.login__btn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
  background-color: var(--color-btn);
  color: var(--color-white);
}

.login__btn:hover {
  opacity: 0.8;
}
